.projects-page {
    .projects-title {
        font-family: vars.$font-merriweather;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    .projects-nav {
        display: flex;
        flex-direction: column;

        .projects-link {
            margin-left: 0;
            text-align: left;
            display: block;
            text-decoration: none;
            font-family: vars.$font-handwriting;
            font-size: 1.8rem;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}