@use '../../variables.scss' as vars;

.header {
    font: vars.$font-merriweather-regular;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    align-items: center;
    margin-left: 0;


    &-no-decoration {
        text-decoration: none;
        list-style: none;
        color: vars.$color-black;
    }
}

.handwriting {
    font: vars.$font-handwriting-regular;
}