.header {
    font-family: vars.$font-merriweather;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    align-items: center;
    margin-left: 0;


    &-no-decoration {
        text-decoration: none;
        list-style: none;
        color: vars.$color-black;
    }
}

.handwriting {
    font-family: vars.$font-handwriting;
}