.shifting-text {
    overflow: hidden;
    width: 100%;

    .shifting-text-row {
        display: inline-block;
        white-space: nowrap;
        font-family: vars.$font-handwriting;
        font-size: 1.8rem;
    }
}