.contact-page {
    .contact-description {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    .contact-nav {
        display: flex;
        flex-direction: column;

        .contact-link {
            margin-left: 0;
            text-align: left;
            display: block;
            text-decoration: none;

            .handwriting {
                font-family: vars.$font-handwriting;
                font-size: 1.5rem;
            }

            & {
                margin-top: 0.5rem;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}