.handwriting {
    font-family: vars.$font-handwriting;
    font-size: 1.5rem;
}

.paragraph-list {
    margin-left: 2rem;
    margin-top: 0;
    padding-top: 0;
}

:global(figure) {
    margin: 1.5rem 0;
}

:global(figcaption) {
    font-size: 80%;
}
