@use '../variables.scss' as vars;

.app {
    background-color: vars.$color-beige;
    width: 60rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0 1rem 1.2rem 1rem;
    min-height: calc(100vh - 2rem);
}