.container {
    margin-top: 1em;
    display: inline-block;
}

.tag {
    color: rgb(37, 65, 177) !important;
    background-color: rgb(220, 220, 255);
    border-radius: 4px;
    border: 1px solid rgb(150, 150, 255);
    font-size: 80%;
    padding: 0.2rem 0.4rem;
    user-select: none;
    white-space: nowrap;

    &:not(:last-child) {
        margin-right: 0.5rem;
    }
    
    * {
        color: rgb(37, 65, 177) !important;
    }
}