.planets {
  padding: 1rem;
  background-color: #252545;
  min-height: 100vh;
  position: relative;
  color: #EDCE19;
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('@/assets/projects/planets/moon.png');
    background-size: 30%;
    background-position: 60% center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.5;
    z-index: 0;
    pointer-events: none;
  }

  > * {
    position: relative;
    z-index: 1;
  }
  
  * {
    color: #EDCE19 !important;
  }
  
  h1, h2, h3, h4, h5, h6, p, span, div, a {
    color: #EDCE19 !important;
  }
}
