.button {
    background-color: rgb(39, 72, 30);
    color: white;
    border: 2px solid rgb(39, 72, 30);
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: rgb(49, 92, 40);
        border-color: rgb(49, 92, 40);
    }
}

.button-secondary {
    background-color: transparent;
    color: rgb(39, 72, 30);
    border: 2px solid rgb(39, 72, 30);
    border-radius: 4px;
    padding: 0.5rem 1rem;
    margin: 0;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background-color: rgb(39, 72, 30);
        color: white;
    }
}