@use './variables.scss' as vars;

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: vars.$color-green;
}